.loader-wrapper {
  background-color: honeydew;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 9998;
}
.loader {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 10rem;
  height: 10rem;
  position: fixed;
  z-index: 9999;
}
.loader .loader-inner-1,
.loader .loader-inner-2,
.loader .loader-inner-3,
.loader .loader-inner-4 {
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  position: absolute;
}
.loader .loader-inner-1:before,
.loader .loader-inner-2:before,
.loader .loader-inner-3:before,
.loader .loader-inner-4:before {
  content: "";
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  position: absolute;
  right: 0;
  animation-name: loading-1;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-duration: 2s;
}

.loader .loader-inner-1 {
  top: 0;
  left: 0;
  transform: rotate(70deg);
}

.loader .loader-inner-1:before {
  background: hsl(219, 34%, 26%);
}

.loader .loader-inner-2 {
  top: 0;
  right: 0;
  transform: rotate(160deg);
}

.loader .loader-inner-2:before {
  background: hsl(219, 28%, 10%);
}

.loader .loader-inner-3 {
  bottom: 0;
  right: 0;
  transform: rotate(-110deg);
}

.loader .loader-inner-3:before {
  background: hsl(215, 50%, 20%);
}

.loader .loader-inner-4 {
  bottom: 0;
  left: 0;
  transform: rotate(-20deg);
}

.loader .loader-inner-4:before {
  background: hsl(217, 49%, 38%);
}
@keyframes loading-1 {
  0% {
    width: 2rem;
    right: 0;
  }

  30% {
    width: 12rem;
    right: -10rem;
  }

  60% {
    width: 2rem;
    right: -10rem;
  }
}
